* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
  color: azure;
}
/* =============== Nav-Bar ================ */
.nav-bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: rgb(21, 1, 36);
}
.nav-bar .logo {
  height: 45px;
  width: 45px;
  background: url(./images/logo.png);
  background-size: cover;
  border-radius: 100px;
}
.nav-bar .right {
  display: flex;
  padding: 2vh 4vw;
}
.nav-bar .name {
  padding: 1vh 1vw;
}
.left a {
  padding: 0 1vw;
  text-decoration: none;
}
.nav-bar .left {
  display: flex;
  margin-left: auto;
  background-color: rgb(21, 1, 36);
  padding: 3vh 4vw;
  text-decoration: none;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* =============== MainIndex ================ */
.mainIndex {
  width: 100vw;
  /* height: auto; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/background.jpg);
  background-size: cover;
}
.mainIndex .description {
  font-size: 35px;
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-family: "Dancing Script", cursive;
  color: azure;
}
.mainIndex input {
  margin-top: 4vh;
  font-size: 30px;
  margin-left: 30vw;
  width: 30vw;
  outline: none;
}

/* ================ Card ================ */
.mainIndex .card-container {
  width: 30.25vw;
  height: 100vh;
  margin-left: 30vw;
  font-size: 22px;
  margin-right: 40vw;
  overflow: auto;
}
.mainIndex .result {
  border-bottom: 2px solid rgb(15, 85, 15);
  border-top: 2px solid rgb(15, 85, 15);
  background-color: whitesmoke;
}
.mainIndex .result li {
  display: flex;
}
.mainIndex .result .card {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;
  padding: 15px;
}
.mainIndex .result .card-content button {
  display: block;
  margin-top: 3vh;
  border-radius: 5px;
  width: 10vw;

  padding: 7px;
  cursor: pointer;
}
.mainIndex .result .card-content .add-to-favourites {
  background-color: chartreuse;
}
.mainIndex .result .card-content .search-btn {
  background-color: grey;
}
.mainIndex ul img {
  margin-top: 1vh;
  height: 20vh;
  width: 7vw;
  border-radius: 10px;
  box-shadow: 6px 7px 19px 0px #1b1a1a;
}

/* ============= details =============== */

.info-index .info-card {
  width: 40vw;
  /* height: 50vh; */
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.315);
}
.info-index .info-card img {
  margin-top: 2vh;
  width: 20vw;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 9px 10px 13px 0px #000000;
  /* width: 5vw;
  height: 10vh; */
}
.info-card .info-card-header {
  margin-top: 2.5vh;
  font-size: 40px;
}
.info-card button {
  background-color: transparent;
  color: red;
  /* height: auto; */
  width: auto;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.info-card button img {
  height: 20px;
  width: 20px;
}

.info-index .info-card .table .table-row {
  display: table;
  font-size: 20px;
  padding-top: 2vh;
  padding-left: 5vw;
  padding-right: 15vw;
  width: 70%;
  margin-left: 10vw;
  margin-top: 0;
  margin: 10px auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  cursor: pointer;
}
.info-card .table .table-row .table-cell {
  display: table-cell;
}
.info-card .table .table-row .table-cell-d {
  text-align: end;
}

/* ============= Favourites ============== */
.fav-index {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto auto;
  /* grid-auto-rows: auto; */
  grid-row-gap: 5px;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.fav-index .fav-card {
  height: auto;
  width: auto;
  color: black;
  margin: 5vh 5vw;
  background-color: rgba(255, 255, 255, 0.315);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fav-card img {
  height: 30vh;
  width: 10vw;
  margin: 2vh 2vw;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px #000;
}
.fav-card button {
  background-color: transparent;
  color: red;
  height: auto;
  width: auto;
  /* border: none; */
  font-size: 25px;
  cursor: pointer;
}
.fav-card h2 {
  margin: 1vh 0;
}
